.editRouteDone-button{
    align-self: flex-end;
    margin-top: 58px;
    margin-right: 5px;
    padding: 3px;
    width: 50px;
}
.secondRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.secondColumn{
    /* border: 1px solid #333640;
    height: 140px;
    width: 120px;
    margin: 5px;*/
    margin-right: 10px; 
}
