.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile-label{
    /* width: 20px; */
    padding: 5px;
    height: 20px;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 5px;
}
.label{
    padding: 0px;
    margin-top: -3px;
    height: 20px;
}

.inputfile-upload{
    margin-bottom: 5px;
}
.remove-image{
    margin-bottom: 5px;
    display: none;
}
.routeImage:hover .remove-image{
    display: inline;
}
