
.routeView-button-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 13px;
}
.routeView-button-container button{
    width: 90px;
    padding: 4px;
}

