
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url('./assets/background-pattern.png');
    background-size: contain;
    background-position: center;
    height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
.loading-body{
 height: 100vh;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}
.loading-image{
    background-image: url('./assets/climber-logo.png');
    height: 100px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    animation: flip .7s infinite alternate;
    -moz-transform: rotateY(180deg) ;
    -o-transform: rotateY(180deg) ;
    -webkit-transform: rotateY(180deg) ;
}
.loading-body-smaller{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   }
.loading-image-smaller{
    background-image: url('./assets/climber-logo.png');
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
    animation: flip .7s infinite alternate;
    -moz-transform: rotateY(180deg) ;
    -o-transform: rotateY(180deg) ;
    -webkit-transform: rotateY(180deg) ;
 }

@keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

.body{
    height: 100vh;
    overflow: hidden;
}
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
.popup-background{
    background-color: rgba(0, 0, 0,.6);
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    pointer-events: all;
}
.popup-content{
    height: 350px;
    width: 280px;
    opacity: 1;
    border-radius: 5px;
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
    padding: 10px;   
}

.popup-content h3{
    align-self: center;
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 1.6em;
    color:#333640;
}
.exit-popup-button{
    margin-right: -15px;
    font-size: 1.1em;
    background: none;
    border: none;
   }
.white-container{
    background-color: #FFFFFF;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 650px;
}

.title-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-bottom: 3px;
    max-width: 650px;
}
.section-title{
    font-size:1.3em;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333640;
}
.green-button{
    background-image: linear-gradient(0deg,#27ae60, #34d879);
    border: none;
    border-radius:3px;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.pink-button{
    background-image: linear-gradient(0deg,rgb(221, 6, 13), rgb(240, 135, 139));
    border: none;
    border-radius:3px;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.teal-button{
    background-image: linear-gradient(0deg,rgb(14, 142, 151), rgb(90, 196, 204));
    border: none;
    border-radius:3px;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.orange-button{
    background-image: linear-gradient(0deg,rgb(214, 74, 23), rgb(241, 134, 95));
    border: none;
    border-radius:3px;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
select{
    outline:none;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none ;
    -o-appearance:none;
    appearance:none;
     cursor: pointer; 
}
button{
    outline:none;
    cursor: pointer; 
}
.routeImage{
    border: 1px solid #333640;
    background-image: url('./assets/no-image.png');
    height: 140px;
    width: 120px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


